[Unit]
Description=Weather station
After=syslog.target network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/weather
ExecStart=/home/ricky/weather/weather.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
