[Unit]
Description=LCD Display
After=syslog.target network-online.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/lcd
ExecStart=/home/ricky/weather/display/lcd_display.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
